<section>
  <h1>À propos de moi</h1>
  <p>
    <img class="left" title="Alain ANDRE" alt="A propos de moi" src="https://s.gravatar.com/avatar/45524ebbea1b2dbfb69761ff46c71bda?s=80" height="80" width="80">
    Concepteur web, je suis en veille technologique permanente. Consultez mon <a href="/images/cv_alain_andre.pdf" target="_blank">CV</a> pour plus d'informations.
  </p>
  <p>
    Je m’intéresse principalement à Ruby on Rails, AngularJS, Mozilla, les méthodes agiles et la frenchtech.
  </p>
  <center>
    <img src="/images/firefox-60.png" alt="Firefox" >
    <img src="/images/French-Tech-60.png" alt="French Tech" >
    <img src="/images/linux-60.png" alt="Linux" >
  </center>
</section>
