<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives/">Archives</a></li>
  <li><a href="{{ root_url }}/blog/categories/angularjs/">AngularJS</a></li>
  <li><a href="{{ root_url }}/blog/categories/ruby-on-rails/">Rails</a></li>
  <li><a href="{{ root_url }}/blog/categories/petits-tutos/">Petits tutos</a></li>
  <li><a href="{{ root_url }}/blog/categories/heroku/">Heroku</a></li>
  <li>
    <section id="search">
      <form action="/search" method="get">
        <input type="text" id="search-query" name="q" size="15" placeholder="Rechercher" autocomplete="off">
      </form>
    </section>
  </li>
</ul>
