// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background-image: url('/images/html_bg.png') !important;
}
body {
  line-height: 1.8em;
  font-size:17px;
  max-width:1320px;
  > div {
    background-image: url('/images/html_bg.png') !important;
    border-bottom:2px solid $gris;
    > div {
      border-right:2px solid $gris;
      background-image: url('/images/html_bg.png') !important;
    }
  }
  > nav {
    background-image: url('/images/html_bg.png') !important;
    border-top: solid .2em !important;
    border-bottom: 2px solid $gris;
    li+li {
      border-left: 2px solid $gris;
    }
    a {
      font-family: $serif;
    }
  }
  >header {
    background-image: url('/images/html_bg.png') !important;
    h1 a {
    font-weight: bold;
    }
  }
  >footer {
    background-image: url('/images/html_bg.png') !important;
  }
  #content .blog-index article {
  header {
    h1 {
      margin: 0;
      a { text-decoration: none;
        &:hover {
          text-decoration: none;
          color: $link-color;
          }
          }
        }
      }
    }
  #blog-archives {
    h1 {
      a { text-decoration: none;
        &:hover { text-decoration:none; } }
    }
  }
  aside.sidebar {
    background-image: url('/images/html_bg.png') !important;
    border-left:2px solid $gris;
    height:100%;
    form .search {
      padding: .3em .5em 0;
      font-size: .85em;
      font-family: $serif;
      line-height: 1.1em;
      width: 95%;
      background-color: #fff;
      border: 2px solid $gris;
      color: #000;
      }
    input[type=text]:focus, textarea:focus {
      box-shadow: 0 0 0 rgba(255,255,255,1);
    }
  }
  #search-query{
    border: solid .1em !important;
    background-image: url('/images/search.png');
    background-repeat: no-repeat;
    padding: 0.3em 0.2em 0.3em 20px !important;
    background-position: 0.2em 50%;
  }
  .toggle-sidebar {
    display:none;
  }
}
p {
  text-align: justify;
}
@media only screen and (max-width: 749px) {
  aside.sidebar {
    padding-top:15px;
    padding-bottom:15px;
  }
}
@media only screen and (min-width: 750px) {
  aside.sidebar {
    border-top:0px solid black;
  }
}
@media only screen and (min-width:992px) {
  body {
    font-size: 1em;
  }
  .collapse-sidebar aside.sidebar {
    background-image: url('/images/html_bg.png') !important;
  }
}
.meta {
  font-family: $serif;
}
.sticky {
    position: fixed;
    width:100%;
    left: 0;
    top: 0;
    z-index: 100;
}
::-webkit-input-placeholder {
   color: $link-color;
}
:-moz-placeholder { /* Firefox 18- */
   color: $link-color;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $link-color;
}
:-ms-input-placeholder {
   color: $link-color;
}
